/**
 * file: css/css.css
 * purpose: styling
 **/

/* Remove whitespace on top of certain browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(90, 130, 79);
}

img {
  width: 100%;
}

h1, h2, h3  
{text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-top: 1rem;
}

p {
  padding: 23px;
}

/* styles til navigation */
/*sticky navigation*/
nav {
  position: sticky;
  top: 0;
  background-color:rgb(63, 106, 63);

}

/*Gør logoet mindre*/
nav a img {
  height: 90px;
  width: auto;
}
nav a {
  color: rgb(5, 5, 5);
  text-decoration: none;
  font-size: 2.5rem;
  padding: 2rem;
  display: inline-block;
  font-family: sans-serif;
}

h1{
  font-size: 8rem;
  text-align: center;
  color: rgb(23, 58, 27);
  text-font: sans-serif;
}
h2{
  font-size: 3rem;
  text-align: center;
  color: var(--tekst);
  text-font: sans-serif;
}




/* farvepalette*/
:root{
  --tekst : rgb(250, 250, 250);
  --baggrund : rgb(90, 130, 79);
  --nav : rgb(63, 106, 63);
  --kontrast : rgb(178, 242, 183);
  --kontrast: rgb(146, 144, 182);
}


.flexdemo{
  display: flex;
}